@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: A4;
    margin: 15px 0 0 0;
    @top-left {
      content: none;
    }
    @top-center {
      content: none;
    }
    @top-right {
      content: none;
    }
    @bottom-left {
      content: none;
    }
    @bottom-center {
      content: none;
    }
    @bottom-right {
      content: none;
    }
  }

  @page :first {
    margin-top: 0;
  }

  body {
    margin: 0 !important;
    background: #fff;
  }

  .cv-preview-content {
    transform: none !important;
    height: auto !important;
  }
}

.cv-preview-content {
  --font-full-name: 1.75rem;
  --font-job-title: 0.75rem;
  --font-contact-detail: 0.75rem;
  --font-section-title: 0.75rem;
  --font-section-item-title: 0.875rem;
  --font-section-detail: 0.75rem;
}

.cv-preview-content .text-xl {
  font-size: var(--font-full-name) !important;
}

.cv-preview-content .font-job-title {
  font-size: var(--font-job-title) !important;
}

.cv-preview-content .font-section-title {
  font-size: var(--font-section-title) !important;
}

.cv-preview-content .font-contact-detail {
  font-size: var(--font-contact-detail);
}

.cv-preview-content .text-\[12px\] {
  font-size: var(--font-section-item-title);
}

.cv-preview-content .text-\[11px\] {
  font-size: var(--font-section-detail);
}

.cv-markdown p {
  margin: 0;
}

.cv-markdown p + p {
  margin-top: 0.5rem;
}

.cv-markdown ul,
.cv-markdown ol {
  margin: 0;
  padding-left: 1.25rem;
}

.cv-markdown ul li {
  list-style-type: disc;
}

.cv-markdown ol li {
  list-style-type: decimal;
}